* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/Agent/Agent.jsp -text
WebContent/Agent/AgentList.jsp -text
WebContent/Class/Class.jsp -text
WebContent/Class/ClassList.jsp -text
WebContent/Code/Code.jsp -text
WebContent/Code/CodeList.jsp -text
WebContent/Collection/Collection.jsp -text
WebContent/Collection/CollectionList.jsp -text
WebContent/Concept/Concept.jsp -text
WebContent/Concept/ConceptList.jsp -text
WebContent/ConceptScheme/ConceptScheme.jsp -text
WebContent/ConceptScheme/ConceptSchemeList.jsp -text
WebContent/Document/Document.jsp -text
WebContent/Document/DocumentList.jsp -text
WebContent/Feature/Feature.jsp -text
WebContent/Feature/FeatureList.jsp -text
WebContent/GeonamesFeature/GeonamesFeature.jsp -text
WebContent/GeonamesFeature/GeonamesFeatureList.jsp -text
WebContent/Group/Group.jsp -text
WebContent/Group/GroupList.jsp -text
WebContent/Image/Image.jsp -text
WebContent/Image/ImageList.jsp -text
WebContent/LabelProperty/LabelProperty.jsp -text
WebContent/LabelProperty/LabelPropertyList.jsp -text
WebContent/Map/Map.jsp -text
WebContent/Map/MapList.jsp -text
WebContent/Nothing/Nothing.jsp -text
WebContent/Nothing/NothingList.jsp -text
WebContent/OnlineAccount/OnlineAccount.jsp -text
WebContent/OnlineAccount/OnlineAccountList.jsp -text
WebContent/OnlineChatAccount/OnlineChatAccount.jsp -text
WebContent/OnlineChatAccount/OnlineChatAccountList.jsp -text
WebContent/OnlineEcommerceAccount/OnlineEcommerceAccount.jsp -text
WebContent/OnlineEcommerceAccount/OnlineEcommerceAccountList.jsp -text
WebContent/OnlineGamingAccount/OnlineGamingAccount.jsp -text
WebContent/OnlineGamingAccount/OnlineGamingAccountList.jsp -text
WebContent/OrderedCollection/OrderedCollection.jsp -text
WebContent/OrderedCollection/OrderedCollectionList.jsp -text
WebContent/Organization/Organization.jsp -text
WebContent/Organization/OrganizationList.jsp -text
WebContent/Person/Person.jsp -text
WebContent/Person/PersonList.jsp -text
WebContent/PersonalProfileDocument/PersonalProfileDocument.jsp -text
WebContent/PersonalProfileDocument/PersonalProfileDocumentList.jsp -text
WebContent/Project/Project.jsp -text
WebContent/Project/ProjectList.jsp -text
WebContent/RDFData/RDFData.jsp -text
WebContent/RDFData/RDFDataList.jsp -text
WebContent/Thing/Thing.jsp -text
WebContent/Thing/ThingList.jsp -text
WebContent/WikipediaArticle/WikipediaArticle.jsp -text
WebContent/WikipediaArticle/WikipediaArticleList.jsp -text
WebContent/classHierarchy.jsp -text
WebContent/classList.jsp -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/index.jsp -text
WebContent/menu.jsp -text
WebContent/resources/style.css -text
WebContent/utility/sparqlDump.jsp -text
/pom.xml -text
